body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: #141414;
  color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 50vh;
}


header img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.logo {
  width: 100px;
  margin: 0% auto 0%;
  display: block;
}

h1 {
  font-size: 2rem;
  color: #ffffff;
  margin-top: 2px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: #000;
  position: sticky;
  bottom: 0;
  z-index: 1000;
}
h1 a {
  color: #e50914;
  text-decoration: none;
}

h1 a:hover {
  text-decoration: underline;
}
.buttons.raw-bg {
  background-image: url('images/raw.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.buttons.smackdown-bg {
  background-image: url('images/smackdown.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.buttons.mainevent-bg {
  background-image: url('images/mainevent.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

button {
  background-color: #e50914;
  color: #fff;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #500005;
}

.smackdown-bg a button {
   background-color: #0099ff;
   /* Button color */
   color: #ffffff;
   /* Text color */
   border: none;
   padding: 12px 24px;
   font-size: 16px;
   font-weight: bold;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s ease;
 }

 .smackdown-bg a button:hover {
   background-color: #052a61;
   /* Darker color on hover */
 }

 .raw-bg a button {
   background-color: #ff0000;
   /* Button color */
   color: #ffffff;
   /* Text color */
   border: none;
   padding: 12px 24px;
   font-size: 16px;
   font-weight: bold;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s ease;
 }

 .raw-bg a button:hover {
   background-color: #610505;
   /* Darker color on hover */
 }

 .mainevent-bg a button {
   background-color: #ffbb00;
   /* Button color */
   color: #0a0404;
   /* Text color */
   border: none;
   padding: 12px 24px;
   font-size: 16px;
   font-weight: bold;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s ease;
 }

 .mainevent-bg a button:hover {
   background-color: #886903;
   /* Darker color on hover */
 }